
<mat-card>
    <mat-card-content>
        <h1 class="text-center text-uppercase font-weight-bold">Filters</h1>
        <hr>
        <form [formGroup]="dynamicForm" (ngSubmit)="submit()">
            <div formArrayName="filters">
              <div *ngFor="let filter of filtersFormArray.controls; let i = index">
                <div [formGroupName]="i" class="container">
                    <mat-form-field *ngIf="filter.get('Type')?.value != 'dropdown'">
                        <input
                          matInput
                          [formControlName]="'Value'"
                          [type]="filter.value.Type"
                          [placeholder]="filter.get('ControlName')?.value"
                        />
                      </mat-form-field>
                      <mat-form-field  class="select" *ngIf="filter.get('Type')?.value === 'dropdown'">
                        <mat-label>{{filter.get('ControlName')?.value}}</mat-label>
                        <mat-select [formControlName]="'Value'">
                          <mat-option *ngFor="let item of filter.value.Options" [value]="item.code">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
              </div>
            </div>

            <div class="submit text-center my-3">
                <button type="submit" mat-raised-button color="primary">
                  Filter <mat-icon>filter_list</mat-icon>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>